@charset "utf-8";
/* CSS Document */
		 	#principal { /*left y top = posicion (0,0)*/
				position:absolute;
				left:0;
				top:0;
				width:100%;
				}
			#pantalla {
				float:left;
				width:100%;
				height:25%;
				background:#0E13E3;
				text-align:center;
				color:#FFF;
				font-size:4em;/*em unidad de medida que se utiliza el tamaño de impresion es decir 4 veces al tamaño de la medida y garantiza el diseño*/
				font-weight:bold;
				font-family:"Times New Roman", Times, serif;
				}
			#teclado{
				float:left;
				width:100%;
				height:75%;
				}
			.nota{ /*como nota es clase se le declara con .*/
				position:relative; /*relativa al teclado*/
				float:left;
				height:90%;
				outline:#3F3 solid 1px;/*linea de contorno*/
				background:#19E3E6;
				width:14.28571428571429%;/*la medida se obtiene de dividir el 100% entre el numero de notas*/
				}
			.textonota{
				position:relative;
				top:80%;
				text-align:center;
				font-size:2em;
				font-weight:bold;
				}
			.tocada{
				background:#3F3;
				color:#FFF;
				outline:#FF0 solid 1px;
				}
        
